.icons div {
    transition: all .2s;
    border: 1px solid #4e4e4e;

}

.icons div i {
    color: #B1B1B1 !important;
}

.icons div:hover {
    background-color: var(--primary-color) !important;
    transform: scale(1.1);
}

.icons div:hover i {
    color: white !important;

}

.line {
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 2px;
    background: #FF6900;
    background: linear-gradient(90deg, rgba(255, 105, 0, 1) 40%, rgba(250, 169, 32, 1) 100%);
    margin-left: 10px;
    border-radius: 5px;
}

.links {
    transition: transform .2s;
}

.links:hover {
    transform: translateX(-10px);
}

.links a {
    transition: color .2s;
}

.links:hover a {
    color: var(--primary-color) !important;
}

.links span {
    transition: all .2s;
    opacity: 0;
    margin-left: 8px;
    display: inline-block;
}

.links:hover span {
    opacity: 1;
    color: var(--primary-color);
}

.backgroundLogo {
    background-color: var(--primary-color);
}

.btnPrimary {
    color: white !important;
    background-color: var(--primary-color) !important;
    transition: all .2s !important;
    padding: 12px !important;
}
.btnPrimary:hover {
    transform: translateY(-3px);
}

.input{
    border: 1px solid #3a3a3a !important;
    background-color: #161616 !important;
    transition: all .2s !important;
    padding: 12px !important;
    font-size: 14px !important;
    color: white !important;
}
.input:focus{
    border-color: var(--primary-color) !important;
    box-shadow: none !important;
}
.input::placeholder{
    color: gray !important;
}
.privacyLink{
    transition: color .2s;
}
.privacyLink:hover{
    color: var(--primary-color) !important;
}